<ion-header [translucent]="true" style="background-color: rgb(221, 155, 67);">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: red;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">E-Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/—Pngtree—business people avatar icon user_4815126.png" alt="">
    <ion-card-header>
      <ion-card-subtitle>Login Here...</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button expand="block">Login</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/—Pngtree—business people avatar icon user_4815126.png" alt="">
    <ion-card-header>
      <ion-card-subtitle>Login Here...</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button expand="block">Login</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>



