*{
    padding: 0;
    margin: 0;
}
ion-card{
    padding-top: 60%;
    background-color: transparent;
    box-shadow: none;
    ion-card-title{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
    ion-item{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 70%;
    }
    ion-button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 70%;
    }
}