<ion-header [translucent]="true" style="background-color: transparent;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: red"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <!-- <h1
    style="text-align: center; font-family: 'Times New Roman', Times, serif;padding-bottom: 20px; padding-top: 20px;font-size: 35px;">
    Course Offered
  </h1> -->
  <ion-card class="card">
    <img src="assets/angular.png" alt="">
    <h3>Angular </h3>
    <h3>
      <ion-icon name="time-outline" style="color: red;"></ion-icon>&nbsp;45 Days&nbsp;&nbsp;&nbsp;
      <ion-icon name="logo-usd" style="color: red;"></ion-icon>&nbsp;30
    </h3>
    <ion-button color="danger">Enroll Now</ion-button>
    </ion-card>
    <ion-card class="card">
      <img src="assets/react.png" alt="">
      <h3>React Js</h3>
      <h3>
        <ion-icon name="time-outline" style="color: red;"></ion-icon>&nbsp;45 Days&nbsp;&nbsp;&nbsp;
        <ion-icon name="logo-usd" style="color: red;"></ion-icon>&nbsp;30
      </h3>
      <ion-button color="danger">Enroll Now</ion-button>
    </ion-card>
      <ion-card class="card">
        <img src="assets/angular.png" alt="">
        <h3>Angular </h3>
        <h3>
          <ion-icon name="time-outline" style="color: red;"></ion-icon>&nbsp;45 Days&nbsp;&nbsp;&nbsp;
          <ion-icon name="logo-usd" style="color: red;"></ion-icon>&nbsp;30
        </h3>
        <ion-button color="danger">Enroll Now</ion-button>
      </ion-card>
      <ion-card class="card">
        <img src="assets/angular.png" alt="">
        <h3>Angular </h3>
        <h3>
          <ion-icon name="time-outline" style="color: red;"></ion-icon>&nbsp;45 Days&nbsp;&nbsp;&nbsp;
          <ion-icon name="logo-usd" style="color: red;"></ion-icon>&nbsp;30
        </h3>
        <ion-button color="danger">Enroll Now</ion-button>
      </ion-card>
</ion-content>